# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebooks
.ipynb_checkpoints

# macOS
.DS_Store

# Logs
*.log

# Virtual environments
venv/
.env/


# HTML files
company_html/

# Node.js
node_modules/
package-lock.json
